<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tapsee">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TapSee">
        <activity
            android:name=".EcranFinal"
            android:exported="false"
            android:label="Proposition de film">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape5Duree" />
        </activity>
        <activity
            android:name=".Etape32_RealActeurs"
            android:exported="false"
            android:label="@string/rechercheDeFilmHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape31_RealActeurs" />
        </activity>

        <activity
            android:name=".Etape4Plateforme"
            android:exported="false"
            android:label="@string/rechercheDeFilmHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape32_RealActeurs" />
        </activity>
        <activity
            android:name=".Etape2Genre"
            android:exported="false"
            android:label="@string/rechercheDeFilmHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape1Profil" />
        </activity>

        <activity
            android:name=".Etape31_RealActeurs"
            android:exported="false"
            android:label="@string/rechercheDeFilmHeader">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape2Genre" />
        </activity>

        <activity
            android:name=".Etape1Profil"
            android:label="@string/rechercheDeFilmHeader"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.MainActivity" />
        </activity>
        <activity
            android:name=".NullActivity"
            android:label="Null Activity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.MainActivity" />
        </activity>
        <activity
            android:name=".Etape5Duree"
            android:exported="false"
            android:label="@string/rechercheDeFilmHeader"
            android:parentActivityName=".Etape4Plateforme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.tapsee.Etape4Plateforme" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>